body {
    background-image: url("image/bgimage.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div .pull-right {
    text-align: center;
    padding: 6px;
    font-family: cambria;
    font-weight: bold;
    font-size: 15px;
}

div #libraryCard {
    text-align: center;
    padding: 6px;
    font-family: cambria;
    font-weight: bold;
    font-size: 20px;
}

#lbl {
    text-align: left;
    padding: 6px;
    font-family: cambria;
    font-weight: bold;
    font-size: 17px;
}